<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}生活论坛</title>
        <meta name="author" content="Zues Team">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <meta name="description" content="{% block desc %}人生苦短 我用python{% endblock %}">
        <meta name="keywords" content="{% block keywords %}linux vim python{% endblock %}">
        <meta name="baidu-site-verification" content="L1tGNksWV2rt8zho" />
        <meta name="google-site-verification" content="DBmuxv3lJezFBdzrzoueLXVbY6gJ6cdbR1mroGVRiNQ" />
        <link rel="pingback" href="/xmlrpc/" />
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="">
        {%  block extend_style %}{% endblock %}
    </head>
<body>

</body>
</html>